OPENAI_API_KEY = "sk-4d17224f58db432198716a85ffeb0aae"              # API Key copied from the OpenAI portal
HUGGINGFACE_API_KEY = "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"                # API Key copied from the HuggingFace portal
MONGODB_URI = "mongodb+srv://elliot:dbUserPassword@cluster0.noq90.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0"                # Connection URI to MongoDB Inst